<div class="panel panel-default">
  <div class="panel-heading">
      <div class="row" style="margin-top: -14px;">
          <h2 style="padding-left: 10px;"><span class="pull-left title" style="padding-left: 10px;"></span>{{ contacts.name }}</h2>
          <span class="pull-left">
              <img class="img-responsive"
                   [src]="contacts?.imageUrl"
                   style="max-width: 50%; padding-left: 10px;" />
            </span>
          <a class="btn btn-danger pull-right" style="margin-right: 10px;" (click)="onDelete()">Delete</a>
          <a class="btn btn-primary pull-right" style="margin-right: 10px;" [routerLink]="['edit']" routerLinkActive="router-link-active" >Edit</a>
          </div>
  </div>
  <div class="panel-body">
      <div class="row">
       <div class="col-xs-12">
         
           <div class="pull-left">
              <span class="list-group-item-heading" style="font-weight: bold;">Email: {{ contacts.email }} </span>
              <br>
              <span class="list-group-item-heading" style="font-weight: bold;">Phone: {{ contacts.phone }} </span>
            </div>
         
      </div>
    </div>
  </div>
</div>
